<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SIGN_UP</title>
</head>
<body>


    <form method="POST" th:action="@{/users/new}" th:object="${user}">
        <p>
            <div th:if="${#fields.hasErrors()}">
                INCORRECT INFORMATION PROVIDED
            </div>
        </p>
        <input name="name" type="text" placeholder="Enter name"/>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">...</span>
        <br/>

        <input name="surname" type="text" placeholder="Enter surname"/>
        <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">..</span>
        <br/>

        <input name="email" type="text" placeholder="Enter email"/>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">...</span>
        <br/>

        <input name="login" type="text" placeholder="Enter login"/>
        <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}">...</span>
        <br/>

        <input name="password" type="password" placeholder="Enter password"/>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">...</span>
        <br/>

        <input name="password2" type="password" placeholder="Reenter password"/>
        <br/>

        <textarea maxlength="500" rows="7" cols="50" placeholder="Info about you"></textarea>
        <br/>

        <input type="submit" value="JMI"/>
    </form>
</body>
</html>